/* 검색 영역*********************************************************************************** */
#search {
  background: #FFE100;
  width: 100%;
  height: 327px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search h2 {
  margin-bottom: 30px;
  font-size: 30px;
}
#question_box {
  background: #fafafa;
  width: 600px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#question_box img {
  width: 25px;
  margin: 10px 20px;
}
#question {
  background: #fafafa;
  width: 490px;
  font-size: 15px;
  border: none;
  outline: none;
}
#serch_tags {
  margin-top: 30px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* 자주묻는 질문******************************************************************************* */
#faq {
  color: black;
  width: 1155px;
  margin: 50px auto;
}

/* 카테고리****************************************** */
#tab_list {
  /* border: 1px solid #e6e6e6; */
  width: 100%;
  margin-bottom: 50px;
  font-size: 15px;
}
a.nav-link {
  border: 1px solid #e6e6e6;
  border-left: none;
  padding: 15px 19px;
}
#tab_list li:first-of-type a.nav-link {
  border-left: 1px solid #e6e6e6;
}

/* 질문과 답변*************************************** */
.tab-content {
  width: 1080px;
}
[id^="load_more"] { /* 더보기 버튼 */
  border-bottom: 1px solid #d0d0d0;
  padding: 20px 10px;
  text-align: center;
  display: block;
}
[id^="load_more"]:hover { /* 더보기 버튼 */
  cursor: pointer;
}
[id^="faq_container"] { /* 카테고리별 faq 목록 */
  border-top: 1px solid #e6e6e6;
  margin-top: 20px;
}
.faq_content { /* 질문-답변 1묶음 */
  border-bottom: 1px solid #e6e6e6;
}
.faq_content div { /* 질문 */
  padding: 20px 10px;
}
.faq_content .collapse { /* 답변 */
  border-top: 1px solid #e2e2e2;
  background: #f4f4f4;
}

/* 답변 효과용*************************************** */
.indent {
  margin-left: 15px;
}
.bold {
  font-weight: bold;
}
.highlight {
  background-color: yellow;
}
.red {
  color: red;
}
.blue_line {
  color: blue;
  text-decoration: underline;
  text-decoration-color: black;
}
.navy_line {
  color: #085294;
  text-decoration: underline;
  text-decoration-color: black;
}