/* reusable css */
.index_container {width: 100%;}
.index_box{width: 1020px; margin: 0 auto;}
.content>div:first-child {font-size: 40px;font-weight: bold;line-height: 1.35;}
.index_container:not(:first-child) .index_box {
  height: 750px;
  display: flex;
  /* justify */
  justify-content: space-between;
  /* align */
  align-items: center;
}
button{
  background-color: #f6f6f6;
  width: 158px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
}

/* index--------------------------------------------------- */
/* 01 */
.index_container.lion_bg {
  background: url("/src/assets/media/images/01index/00main3.png");
  background-size: cover;
  height: 720px;
}
/* 07.sky --------------------------------------------------*/
/* 07. sky bg */
.index_container.sky_bg {
  background: url();
  background-size: cover;
  height: 720px;
  background-color: #333B58;
  color : white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}
/* 07. sky stars */


/* 08.체크카드드 */
.index_container.checkcard_bg {
  background: url();
  background-size: cover;
  height: 1062px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}
/* 09.IT */
.index_container.it_bg {
  background: url();
  background-size: cover;
  height: 1176px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}
/* 이미지 크기들------------------------------------------- */
.index_container.confo_box img {
  width: 473px;
  height: 678px;
}
.index_container.saving_box #bottomimg2 {
  width: 420px;
  height: 104px;
  margin-top: 10px;
}
.index_container.saving_box img {
  width: 409px;
  height: 722px;
}
.index_container.moim_box img {
  width: 459px;
  height: 607px;
}
.index_container.weeks_box img {
  width: 492px;
  height: 408px;
}
.index_container.overseas_box img {
  width: 408px;
  height: 715px;
}
.index_container.overseas_box{
  background-image: url(/src/assets/media/images/01index/05map.png);
  background-repeat: no-repeat;
  background-position: -150px; center;
  height: 750px;
}
.index_container.sky_bg img{
  width: 429px;
  height: 563px;
}
